.ShowHideButonSection {
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding-bottom: 3rem;
}

.ShowHideButonSection button {
    padding: 1.5rem 2.5rem;
    color: #ffffff;
    border: solid 2px #ffffff;
}