.button {
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;


}


@media screen and (max-width: 380px) {
    .button {
        padding: 5px 5px;
        font-size: 0.8rem;
        font-weight: 600;
        width: 30%;
    }
}